@{
    ViewData["Title"] = "Radicitus Home";
}
<div>
    <div class="text-center col-4 offset-4">
        <img src="images/Logo_Radicitus_Black.png" />
    </div>
    <div class="container">
        <ul class="hex-grid">
            <li class="hex">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="images/calendar-icon.png" alt="" />
                        <h1>Calendar</h1>
                    </a>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <a class="hexLink" href="@Url.Action("RaidEfforts", "Home")">
                        <img src="images/Logo_Radicitus_White.png" alt="" />
                        <h1>50/50</h1>
                    </a>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="images/if_WoW_36832.png" alt="" />
                        <h1>Raiding</h1>
                    </a>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <img src="images/GlitchIcon_Purple_256px.png" alt="" />
                        <h1>Streaming</h1>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>