@{
    ViewData["Title"] = "Radicitus Home";
}
<div class="home-parallax">
    <div class="parallax-image-1 parallax">
        <div class="col-6 offset-3 home-content transparent bg-dark text-white">
            <h1>
                The Radicitus Gaming Community
            </h1>
            <img class="logo-small" src="images/Logo_Radicitus_White.png"/>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id eros dignissim, venenatis turpis a, consectetur nisl. Aliquam aliquam a lorem in pharetra. Aliquam eget lacus ac dui pretium consequat iaculis eu enim. Sed accumsan, erat a suscipit rhoncus, nisi turpis porta nisi, eget rutrum ipsum lacus a arcu. Aliquam ac consequat est. Sed congue neque vitae odio malesuada lobortis. Ut placerat pharetra porttitor. Maecenas eleifend fermentum ornare. Vivamus ullamcorper est at finibus vestibulum.

                Aliquam sodales accumsan felis, non feugiat ipsum congue a. Duis tincidunt mollis pretium. Integer egestas justo arcu, consectetur fermentum risus porttitor ac. Aliquam sit amet ante dolor. Mauris in felis sit amet nunc aliquam imperdiet vel ut odio. Suspendisse eget diam quis orci fringilla semper vel vel turpis. Ut fringilla diam at ligula consectetur, eu cursus sem congue. Curabitur volutpat turpis sem, in laoreet augue finibus quis. Aenean quis libero metus. Vivamus neque urna, aliquam nec tincidunt sed, rhoncus et nibh. 
            </p>
            <h3>
                Find us on Thrall!
            </h3>
        </div>
    </div>
    <div class="parallax-image-2 parallax">
        <div class="col-6 offset-3 home-content transparent bg-dark text-white">
            <h1>
                We Play Destiny 2!
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id eros dignissim, venenatis turpis a, consectetur nisl. Aliquam aliquam a lorem in pharetra. Aliquam eget lacus ac dui pretium consequat iaculis eu enim. Sed accumsan, erat a suscipit rhoncus, nisi turpis porta nisi, eget rutrum ipsum lacus a arcu. Aliquam ac consequat est. Sed congue neque vitae odio malesuada lobortis. Ut placerat pharetra porttitor. Maecenas eleifend fermentum ornare. Vivamus ullamcorper est at finibus vestibulum.

                Aliquam sodales accumsan felis, non feugiat ipsum congue a. Duis tincidunt mollis pretium. Integer egestas justo arcu, consectetur fermentum risus porttitor ac. Aliquam sit amet ante dolor. Mauris in felis sit amet nunc aliquam imperdiet vel ut odio. Suspendisse eget diam quis orci fringilla semper vel vel turpis. Ut fringilla diam at ligula consectetur, eu cursus sem congue. Curabitur volutpat turpis sem, in laoreet augue finibus quis. Aenean quis libero metus. Vivamus neque urna, aliquam nec tincidunt sed, rhoncus et nibh.
            </p>
        </div>
    </div>
    <div class="parallax-image-3 parallax">
        <div class="col-6 offset-3 home-content transparent bg-dark text-white">
            <h1>
                Some of us play Overwatch!
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id eros dignissim, venenatis turpis a, consectetur nisl. Aliquam aliquam a lorem in pharetra. Aliquam eget lacus ac dui pretium consequat iaculis eu enim. Sed accumsan, erat a suscipit rhoncus, nisi turpis porta nisi, eget rutrum ipsum lacus a arcu. Aliquam ac consequat est. Sed congue neque vitae odio malesuada lobortis. Ut placerat pharetra porttitor. Maecenas eleifend fermentum ornare. Vivamus ullamcorper est at finibus vestibulum.

                Aliquam sodales accumsan felis, non feugiat ipsum congue a. Duis tincidunt mollis pretium. Integer egestas justo arcu, consectetur fermentum risus porttitor ac. Aliquam sit amet ante dolor. Mauris in felis sit amet nunc aliquam imperdiet vel ut odio. Suspendisse eget diam quis orci fringilla semper vel vel turpis. Ut fringilla diam at ligula consectetur, eu cursus sem congue. Curabitur volutpat turpis sem, in laoreet augue finibus quis. Aenean quis libero metus. Vivamus neque urna, aliquam nec tincidunt sed, rhoncus et nibh.
            </p>
        </div>
    </div>
    <div class="parallax footer bg-dark text-white">
        <p>©2004 Blizzard Entertainment, Inc. All rights reserved. World of Warcraft, Warcraft and Blizzard Entertainment are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries.</p>
        <p>©2016 Blizzard Entertainment, Inc. All rights reserved. Overwatch is a trademark or registered trademark of Blizzard Entertainment, Inc. in the U.S. and/or other countries.</p>
        <p>© Bungie, Inc. All rights reserved. Destiny, the Destiny Logo, Bungie and the Bungie logo are among the trademarks of Bungie, Inc</p>
    </div>
</div>