@{
    ViewData["Title"] = "Radicitus Home";
}
<div class="home-parallax">
    <div class="parallax-image-1 parallax">
        <div class="col-6 offset-3 home-content transparent bg-dark text-white">
            <h1>
                The Radicitus Gaming Community
            </h1>
            <img class="logo-small" src="images/Logo_Radicitus_White.png"/>
            <p>
                Radicitus is a casual raiding guild raiding twice a week from 7:30 CST to 10:30 CST.
            </p>
            <p>
                We are fun, laid back, and open to any and all types of guildmates!
            </p>
            <h3>
                Find us on Thrall!
            </h3>
        </div>
    </div>
    <div class="horde-red text-white">
        <div class="col-6 offset-3">
            <h1>
                Surveys
            </h1>
            <h2>
                These are completely anonymous.
            </h2>
        </div>
    </div>
    <div class="parallax-image-2 parallax">
        <div class="col-6 offset-3 home-content transparent bg-dark text-white">
            <h1>
                We Play Destiny 2!
            </h1>
            <p>
                A few of us play Destiny 2.
            </p>
        </div>
    </div>
    <div class="parallax-image-3 parallax">
        <div class="col-6 offset-3 home-content transparent bg-dark text-white">
            <h1>
                Some of us play Overwatch!
            </h1>
            <p>
                Overwatch is a game a few of our guildmates play on and off, so don't be afraid to hop in and out of the fun!
            </p>
        </div>
    </div>
    <div class="parallax footer bg-dark text-white">
        <p>©2004 Blizzard Entertainment, Inc. All rights reserved. World of Warcraft, Warcraft and Blizzard Entertainment are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries.</p>
        <p>©2016 Blizzard Entertainment, Inc. All rights reserved. Overwatch is a trademark or registered trademark of Blizzard Entertainment, Inc. in the U.S. and/or other countries.</p>
        <p>© Bungie, Inc. All rights reserved. Destiny, the Destiny Logo, Bungie and the Bungie logo are among the trademarks of Bungie, Inc</p>
        <p>This site uses cookies, however, we only use cookies in order for you to not answer a survey more than once!</p>
    </div>
</div>