<div class="container mt-3">
    <h1>
        W.H.O.R.Es
        <button class="btn btn-outline-primary">
            <i class="fa fa-plus-square"></i>
            Add
        </button>
    </h1>
    <h3>We Help Out Radicitus Efforts</h3>
    <hr />
   @await Component.InvokeAsync("RenderAllGrids", null)
</div>