@using Radicitus.Entities
@model List<Event>
<div class="container">
    <h1>Create a Guild Event!</h1>
    <hr />
    <div class="col-12" id="createEvent">
        <partial name="CreateEvent" model="null"/>
    </div>
    <div class="col-12">
        <partial name="EventList" />
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="/js/AdminPage.js"></script>
}