@{
    Layout = null;
}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Add Members
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
        </div>
        <div class="modal-body">
            @{ Html.RenderPartial("AddMemberFormPartial", new RadMemberModel()); }
            @{ Html.RenderPartial("MembersTablePartial", new List<RadMemberModel>()); }
            <button type="button" class="btn btn-success">
                <i class="fa fa-paper-plane"></i>
                Submit Members
            </button>
        </div>
    </div>
</div>