@{
    Layout = null;
}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Add Members
            </h5>
        </div>
        <div class="modal-body">
            @{ await Html.RenderPartialAsync("AddMemberFormPartial", new RadMemberModel()); }
            @{ await Html.RenderPartialAsync("MembersTablePartial", new List<RadMemberModel>()); }
            <button id="submitMembersButton" type="button" disabled="disabled" class="btn btn-success">
                <i class="fa fa-paper-plane"></i>
                Submit Members
            </button>
            <button id="closeAddMembersForm" type="button" class="btn btn-danger">
                <i class="fa fa-close"></i>
                Close
            </button>
        </div>
    </div>
</div>