html, main {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
}

.home-parallax {
    height: 100%;
}

.logo-small {
    width: 15%;
    height: 15%;
}

.logo-nav {
    width: 26px;
    height: 26px;
}

.button-col {
    width: 1%;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parallax-image-1 {
    background-image: url("../images/wow-bfa.jpg");
    opacity: 0.85;
    min-height: 100%
}

.parallax-image-2 {
    background-image: url("../images/destiny-2-concept-art-2.jpg");
    opacity: 0.85;
    min-height: 100%
}

.parallax-image-3 {
    background-image: url("../images/tracer-overwatch.png");
    opacity: 0.85;
    min-height: 100%
}

.transparent {
    opacity: .95;
}

.home-content {
    padding: 2%;
    text-align: center;
    position: absolute;
    top: 25%;
}

/*.bd-footer {
    padding: 4rem 0;
    margin-top: 4rem;
    font-size: 85%;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #f7f7f7;
}*/

.bd-footer {
    padding: 4rem 0;
    margin-top: 4rem;
    font-size: 85%;
    text-align: center;
    background-color: #f7f7f7;
}

.footer {
    font-size: 12px;
    padding: 1%;
    bottom: 0;
    width: 100%;
}

.scrollable {
    max-height: 300px;
    overflow-y: scroll
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .form-signin-heading, .form-signin .checkbox {
        margin-bottom: 10px;
    }

/*.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.grid-square {
    width: 128px;
    height: 64px;
    border: 1px black solid;
}

.grid-container {
    width: 100% !important;
    padding-top: 15px;
}

.has-danger .form-control {
    border-color: #d9534f;
}

.has-danger
.col-form-label,
.has-danger
.custom-control,
.has-danger .form-check-label,
.has-danger .form-control-feedback,
.has-danger .form-control-label {
    color: #d9534f;
}