body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/*.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.grid-square {
    width: 128px;
    height: 64px;
}

.grid-container {
    width: 100% !important;
    padding-top: 15px;
}

.has-danger .form-control {
    border-color: #d9534f;
}

.has-danger 
.col-form-label, 
.has-danger 
.custom-control, 
.has-danger .form-check-label, 
.has-danger .form-control-feedback, 
.has-danger .form-control-label {
    color: #d9534f;
}